<div class="viewer-container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">

  <button mat-icon-button class="close-btn" (click)="close()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  @if (images().length > 0) {

  <div class="slider-track" [style.transform]="'translateX(' + (-currentIndex() * 100) + '%)'">

    @for (img of images(); track img; let i = $index) {
    <div class="slide">
      <div class="img-zoom-container" [class.zoomed]="isZoomed() && currentIndex() === i" (dblclick)="toggleZoom()">
        <img [src]="img" alt="Screen" class="screen-img">
      </div>
    </div>
    }
  </div>

  <div class="counter">
    {{ currentIndex() + 1 }} / {{ images().length }}
  </div>

  } @else {

  <div class="empty-state">
    <mat-icon class="empty-icon" svgIcon="no-image"></mat-icon>
    <div class="empty-title">No Screenshots Available</div>
    <div class="empty-subtitle">Screenshots will appear here once uploaded</div>
  </div>

  }

</div>